html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px
}
body {
  margin-top: 30px;
  background-color: #333;
}
footer {
  background-color: #333; 
}
div- {
  border:2px solid #ccc;
}
.item {
  height: 100px;
}

.itemxs- {
  height: 50px;
}


div #logo {
  height: 100px;
}
a {
  height:95px;
}

/* ** 2015/06/05 delete
.btn0 {
  background-color: pink;
}
.btn1 {
  background-color: lightblue;
}
.btn2 {
  background-color: lime;
}
.btn3 {
  background-color: yellow;
}
.btn4 {
  background-color: #AAA2E0;
}
.btn5 {
  background-color: #EBCC44;
}

*/

.btn0, .btn1, .btn2,
.btn3, .btn4, .btn5 
{
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  border-radius: 45%; 
}
.btn0:hover, .btn1:hover, .btn2:hover,
.btn3:hover, .btn4:hover, .btn5:hover 
{
  background-color: gold;
  box-shadow: inset 0.5em -1.5em 3em 0.5em darkgreen;; 
}

.menu-row {
  margin-top: 30px;
}
#logo {
  font-size: 45px;
  text-shadow: 4px 4px 0px #939393,
               6px 6px 0px #1c1c1c;
  margin-top: 10px;

}

#logo span {
display: inline-block;
position: relative;
letter-spacing: -1px;
-webkit-transition: all 0.2s ease-out;
}

#logo .char1 {
  color : #f00;
  -webkit-transform: rotate(-3deg);
}
#logo .char2 {
  color : #0f0;
}
#logo .char3 {
  color : gold;
}
#logo .char4 {
  color : #00f;
  -webkit-transform: rotate(-3deg);
  top: -7px;
}
#logo .char5 {
  color : #0f0;
  top:-20px;
}
#logo .char6 {
  color : #0ff;
  top: -7px;
  -webkit-transform: rotate(3deg);
}
#logo .char7 {
  color : #f0f;
}
#logo .char8 {
  color : #ff0;
  top:-20px;
}
#logo .char9 {
  color : #999;
  -webkit-transform: rotate(5deg);
}
#logo .char10 {
  color : #000;
  top: -10px;
}
#logo .char11 {
  color : #ccc;
  -webkit-transform: rotate(3deg);
}
#logo .char12 {
  color : #0DD42B;
  top: -10px;
}
#logo .char13 {
  color : #F22C16;
  -webkit-transform: rotate(3deg);
}

#logo .char1:hover,
#logo .char2:hover,
#logo .char3:hover,
#logo .char4:hover,
#logo .char5:hover,
#logo .char6:hover,
#logo .char7:hover,
#logo .char8:hover,
#logo .char9:hover,
#logo .char10:hover,
#logo .char11:hover,
#logo .char12:hover,
#logo .char13:hover
 {
  top:5px;
}
.text-black {
  color: #000;
}
.text-white {
  color: #fff;
}
.text-red {
  color: #f00;
}
.text-yellow {
  color: #ff0;
}
.text-pink {
  color: pink;
}
#tlt {
  color: yellow;
}

#btnAbout {
  height: 50px;
  background-color: #ddd;
  opacity: 0.7;
  font-size: 1.7em;
}

.post-list {
  font-size: 1.3em;
}

.post-list a {
  color: yellow;
}

footer a {
  color: yellow;
}