    <div class="row">
      <div class="col-sm-5 col-md-5">
        <div id="logo"><span>koyamatch.com</span></div>
      </div>
      <div class="col-sm-7 col-md-7">
        <h1 id="subtitle" class="text-right">投稿記事</h1>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
          <a href="{{domain}}/"><h4><span class="glyphicon glyphicon-home text-white"> home</span></h4></a>
          </div>
          <div class="col-md-4">
          <a href="index.html"><h4><span class="glyphicon glyphicon-arrow-left text-white">BACK</span></h4></a>
          </div>
        </div>  
      </div>
    </div><!--/row-->
